@import "genericMixin.scss";

@mixin displayGridIcons() {

  .flex-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }

  .flex-item {
    padding: 15px;
    width: 100px;
    height: 100px;
    margin-top: 35px;

    color: white;
    font-weight: bold;
    font-size: 5em;
    text-align: center;
    align-items: center;
    p {
      font-size: .3em;
    }
  }
}

@mixin SetSectionAbout() {

  #section1 {

    @include SetSizeSection();
    background: radial-gradient(#0f3150 0,#000 90%);

    @include displayGridIcons();
  }
}