@import "colors.scss";
@import "genericMixin.scss";

@mixin SetUpHomeButton() {

  .scroll-button-entry{
    position: absolute;
    bottom: 5.3%;
    width: 24px;
    height: 24px;
    border-left: 4px solid #585858;
    border-bottom: 4px solid #585858;
    -webkit-transform: rotateZ(-45deg);
    transform: rotateZ(-45deg);
    animation: moveButton 3.0s infinite;
  }


  .button{
    display: inline-block;

    width: 8px;
    height: 8px;
    border-left: 2px solid rgba(255,255,255,.5);
    border-bottom: 2px solid rgba(255,255,255,.5);
    -webkit-transform: rotateZ(-45deg);
    transform: rotateZ(-45deg);
    animation: moveButton 3.0s infinite;
    cursor: pointer;
  }

  .buttons {
    z-index: 2;
    position: absolute;
    bottom: 40px;
    left: 0px;
    width: 100%;
    text-align:center;
  }

  .scrolling-title {

    position: absolute;
    bottom: 65px;
    left: 0px;
    width: 100%;
    text-align: center;
    color: rgba(255,255,255,.5);
    font-size: 1em;
    cursor: pointer;
  }

}

@mixin SetSectionHome() {

  #section0 {
    background-color: black;
  }

  .landing {

    text-align: center;
    width: 100%;
    height: 350px;
    //height: 500px;
    overflow: hidden;
  }

  .landing-text {
    position: relative;
    color: $white;
  }

  .landing-text {
    position: absolute;
    top: 50%;
    left: 0;
    text-align: center;
    display: block;
    width: 100%;
    height: 500px;
    margin-top: -125px;
    cursor: pointer;
  }

  .site-title {
    text-transform: uppercase;
    font-size: 6em;
    line-height: 1em;
    text-shadow: 1px 1px 0px black;
  }

  .sub-site-title {
    text-transform: uppercase;
    font-style: italic;
    font-size: .5em;
    text-shadow: 1px 1px 0px black;
    line-height: 1.8em;
    color: $white;
  }

  @include SetUpHomeButton();
}
