head
    title Resume Martins Thomas

    meta(name='description', content='Resume Martins Thomas')
    meta(name='keywords', content='Resume Martins Thomas')
    meta(name='author', content='Resume')
    meta(name='viewport', content='width=device-width, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no')

    link(rel='stylesheet', href='styles/main.css')