head
    title Resume Martins Thomas

    meta(name='description', content='Resume Martins Thomas')
    meta(name='keywords', content='Resume Martins Thomas')
    meta(name='author', content='Resume')
    meta(name='viewport', content='width=device-width, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no')

    link(rel='stylesheet', href='styles/main.css')

    script(type='text/javascript', src='https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js')
    script(type='text/javascript', src='https://cdnjs.cloudflare.com/ajax/libs/fullPage.js/2.9.7/jquery.fullpage.js')







