doctype html
html(lang="en")
    head
        include includes/header

    body
        #fullpage
            button.github  Github
                i.fab.fa-github
            #section0.section
                .landing

                    .landing-text
                        h1.site-title Thomas Martins
                            .contact-home
                                a(href='https://github.com/Mthomas3/NEO-iOS', target='_blank') Github
                                    i.fab.fa-github
                                a(href='https://twitter.com/_thomasMartins_', target='_blank') Twitter
                                    i.fab.fa-twitter
                                a(href='mailto:thomas.martins@epitech.eu') Email
                                    i.fas.fa-envelope
                    .selector-div

                p.scrolling-title Scroll to continue
                .buttons
                    .button.discover-button

            #section1.section
                ul.flex-container
                    li.flex-item
                        i.devicon-swift-plain
                        p swift
                    li.flex-item
                        i.devicon-javascript-plain
                        p javascript
                    li.flex-item
                        i.devicon-html5-plain
                        p html5
                    li.flex-item
                        i.devicon-sass-plain
                        p sass
                    li.flex-item
                        i.devicon-css3-plain
                        p css3

                ul.flex-container
                    li.flex-item
                        i.devicon-git-plain
                        p git
                    li.flex-item
                        i.devicon-github-plain
                        p github
                    li.flex-item
                        i.devicon-angularjs-plain
                        p angular
                    li.flex-item
                        i.devicon-babel-plain
                        p babel
                    li.flex-item
                        i.devicon-gulp-plain
                        p gulp



            #section2.section
                section#entries
                    .entry-row
                        .entry.img-entry
                            .img-container
                                img(src='../images/new-easycit-pic.png', style='width:auto;height:290px;')

                        .entry
                            h2 EasyCut Project
                            p Easycut is designed to help people to find the best hairdresser around them.
                                | The project is composed of two applications. An iOS application that I was in charge of, and a server.
                                | The iOS application has been developed with Swift. EasyCut is still under development at the moment, and
                                | can be found
                                |
                                a(href='https://github.com/Mthomas3/easycut', target='_blank') here.


                    .separator-container
                        .separator
                    .entry-row
                        .entry
                            h2 Neo Project
                            p Neo is a group of 8 students that have a similar goal of bringing back families together.
                                | Our goal is to provide a reliable and friendly product in order to break the technological barrier
                                | that may be present for some older people. The project was designed and started at the end of 2016 and
                                | done in 2018. During this project I was in charge of the iOS application, developed in Swift
                                | that can be found
                                |
                                a(href='https://github.com/Mthomas3/NEO-iOS', target='_blank') here.

                        .entry.img-entry
                            .img-container
                                img(src='../images/neo-picture.png', style='width:auto;height:290px;')








script(type='text/javascript', src='js/main.js')
