doctype html
html(lang="en")
    head
        include includes/header

    body
        #fullpage
            button.github  Github
                i.fab.fa-github
            #section0.section
                .landing

                    .landing-text
                        h1.site-title Thomas Martins
                            .contact-home
                                button Github
                                    i.fab.fa-github
                                button Twitter
                                    i.fab.fa-twitter

                                button Email
                                    i.fas.fa-envelope

                p.scrolling-title Scroll to continue
                .buttons
                    .button.discover-button

            #section1.section
                ul.flex-container
                    li.flex-item
                        i.devicon-swift-plain
                        p swift
                    li.flex-item
                        i.devicon-javascript-plain
                        p javascript
                    li.flex-item
                        i.devicon-html5-plain
                        p html5
                    li.flex-item
                        i.devicon-sass-plain
                        p sass
                    li.flex-item
                        i.devicon-css3-plain
                        p css3

                ul.flex-container
                    li.flex-item
                        i.devicon-git-plain
                        p git
                    li.flex-item
                        i.devicon-github-plain
                        p github
                    li.flex-item
                        i.devicon-angularjs-plain
                        p angular
                    li.flex-item
                        i.devicon-babel-plain
                        p babel
                    li.flex-item
                        i.devicon-gulp-plain
                        p gulp

            #section2.section
                h1 Enjoy it


    script(type='text/javascript', src='js/main.js')
