doctype html
html(lang="en")
    head
        include includes/header

    body
        #fullpage
            button.github  Github
                i.fab.fa-github
            #section0.section
                .landing

                    .landing-text
                        h1.site-title Thomas Martins
                            .contact-home
                                button Github
                                    i.fab.fa-github
                                button Twitter
                                    i.fab.fa-twitter

                                button Email
                                    i.fas.fa-envelope

                p.scrolling-title Scroll to continue
                .buttons
                    .button.discover-button

            #section1.section
                ul.flex-container
                    li.flex-item
                        p Swift
                        i.devicon-swift-plain
                    li.flex-item 2
                    li.flex-item 3
                    li.flex-item 4
                    li.flex-item 5
                    li.flex-item 6



            #section2.section
                h1 Enjoy it


    script(type='text/javascript', src='js/main.js')
