doctype html
html(lang="en")
    head
        include includes/header.pug

    body

        section.home
            .landing-text
                h1.site-title Thomas Martins
                .sub-site-title Available for internship


            p.scrolling-title Scroll to continue

            .scroll-button-entry
                button.scroll


        section.about
            p there you go


    script(src='js/main.js')


