doctype html
html(lang="en")
    head
        include includes/header

    body
        #fullpage
            #section0.section
                .landing
                    .landing-text
                        h1.site-title Thomas Martins
                            .sub-site-title Available for internship

                p.scrolling-title Scroll to continue
                .buttons
                    .button.discover-button

            #section1.section
                #test.h1 Clickable
                p You can even click on the navigation and jump directly to another section.
            #section2.section
                h1 Enjoy it


    script(type='text/javascript', src='js/main.js')
